// GLOBAL VARIABLES

// Colors:
$background: #ffffff;
$block: #dedede;
$blue: #2249c8;
$red: #aa0000;
$yellow: #fff921;
$green: #089e08;
$text: #2b2b2b;

// Bootstrap's Break points:
$s-min: 480px;
$m-min: 768px;
$l-min: 1080px;

// Bootstrap variables
$body-bg: $background;
$text-color: $text;
$brand-primary: $blue;
$brand-success: $green;
$brand-info: $yellow;
$brand-danger: $red;
