// GLOBAL VARIABLES

// Colors:
$background: #ffffff;
$block: #dedede;
$blue: #2249c8;
$red: #aa0000;
$yellow: #fff921;
$green: #089e08;
$text: #2b2b2b;

// Bootstrap variables
$body-bg: $background;
$text-color: $text;
$brand-primary: $blue;
$brand-success: $green;
$brand-info: $yellow;
$brand-danger: $red;

// Bootstrap's Break points:
$xs-max: 767px;
$sm-min: 767px;
$sm-max: 991px;
$md-min: 991px;
$md-max: 1199px;
$lg-min: 1199px;
